{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.rollbar.com"
    }
  ],
  "tags": [
    {
      "name": "Item"
    },
    {
      "name": "Occurrence"
    },
    {
      "name": "Metrics"
    },
    {
      "name": "Deploy"
    },
    {
      "name": "Environment"
    },
    {
      "name": "Symbol Maps"
    },
    {
      "name": "RQL"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Project Access Tokens"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Users"
    },
    {
      "name": "Teams ⟷ Users"
    },
    {
      "name": "Teams ⟷ Projects"
    },
    {
      "name": "Users ⟷ Projects"
    },
    {
      "name": "People"
    },
    {
      "name": "Notification Channels"
    },
    {
      "name": "Slack Notification Rules"
    },
    {
      "name": "PagerDuty Notification Rules"
    },
    {
      "name": "Email Notification Rules"
    },
    {
      "name": "Webhook Notification Rules"
    },
    {
      "name": "Replay"
    },
    {
      "name": "Service Links"
    },
    {
      "name": "Versions"
    }
  ],
  "info": {
    "title": "Rollbar API",
    "version": "1.0",
    "description": "# Getting Started\nThe Rollbar API provides a RESTful interface to much of the data in the\nsystem. It is used by our official libraries to report exceptions,\ndeploys, and other messages. It can be used to create notifiers for\nadditional languages, get data out to integrate with other systems, or\nwhatever else you can imagine. If the API is missing something you'd\nlike to see, please [let us know](support@rollbar.com).\n\n# Ping\nTo test whether you're able to ping the API server, you can simply run the\nfollowing command:\n\n```\ncurl 'https://api.rollbar.com/api/1/status/ping'\n```\n\nYou will get back pong from our server if your request was successful.\n\n# Timestamps\nAll timestamps (inputs and outputs) are GMT unix timestamps.\n\n# Authentication\nAuthentication is done via access token included as a header parameter. For authenticated requests, pass your access token\nthrough the `X-Rollbar-Access-Token` parameter in the header.\n\n```\ncurl -H \"X-Rollbar-Access-Token: YOUR_ACCESS_TOKEN\" 'https://api.rollbar.com/api/1/item/12345'\n```\n\n## Project access tokens\nMany operations require a project-specific access token. You can find and administer your\naccess tokens in Settings -> Project Access Tokens. Access tokens can have any or\nall of the following scopes:\n\n### post_server_item\nCan perform all POST requests to /deploy/ and /item/. Can also be used to upload source maps (JS, proguard, dSym, flutter)\n\n### post_client_item\nCan perform POST requests to /item/, but only if the item has a client-side platform (browser, mobile)\n\n### read\nCan perform all GET requests\n\n### write\nCan perform PATCH and DELETE requests\n\n## Account Access Tokens\nOperations performed at the level of the account require an account-specific\naccess token. These can be found and managed at\n{Account name} Settings -> Account Access Tokens.\nAccount access tokens can have the following scopes:\n\n### read\nSupports all GET operations at the account level.\n\n### write\nSupports all POST, PUT, PATCH, and DELETE operations at the account level.\n\n# HTTP responses\nThe API can return the following HTTP response codes:\n\n### 200\tOK\nOperation was completed successfully\n\n### 400\tBad request\nThe request was malformed and could not be parsed.\n\n### 403\tAccess denied\nAccess token was missing, invalid, or does not have the necessary permissions.\n\n### 404\tNot found\nThe requested resource was not found. This response will be returned if the URL is entirely invalid (i.e. /asdf), or if it is a URL that could be valid but is referencing something that does not exist (i.e. /item/12345).\n\n### 413\tRequest entity too large\nThe request exceeded the maximum size of 128KB.\n\n### 422\tUnprocessable Entity\nThe request was parseable (i.e. valid JSON), but some parameters were missing or otherwise invalid.\n\n### 429\tToo Many Requests\nIf rate limiting is enabled for your access token, this return code signifies that\n\n# Examples\n\n### [api-examples](https://github.com/rollbar/api-examples)\nAuthor: Rollbar\n\nLanguage: Python\n\nExamples using RQL, deploys, occurrences, and reports\n\n### [api-people-example](https://github.com/rollbar/api-people-example)\nAuthor: Rollbar\n\nLanguage: Python\n\nShows how to gather the Person data for each occurrence of a list of items\n\n### [rolltools](https://github.com/jslate/rolltools)\nAuthor: Jonathan Slate\n\nLanguage: Ruby\n\nA few utilities using the Rollbar API\n"
  },
  "paths": {
    "/api/1/item/": {
      "post": {
        "tags": ["Item"],
        "summary": "Create item",
        "description": "Rollbar receives Occurrences (exceptions and messages) via a RESTful JSON API. Clients send JSON data via an HTTP POST to https://api.rollbar.com/api/1/item/\n\nWe strongly recommend using HTTPS, but HTTP is also supported. For HTTP, use http://api.rollbar.com/api/1/item/\n\nPOSTed JSON data is accepted either as the body of the request, or form-encoded as the value of the payload parameter (which should be the only parameter).\n\nAll responses (including error responses) are returned as JSON.\n\n### Data Format\nThe example JSON payload below describes all the required and optional params that Rollbar understands. The meaning of each key is explained in the comments.\n\n```json\n{\n  // Required: data\n  \"data\": {\n\n    // Required: environment\n    // The name of the environment in which this occurrence was seen.\n    // A string up to 255 characters. For best results, use \"production\" or \"prod\" for your\n    // production environment.\n    // You don't need to configure anything in the Rollbar UI for new environment names;\n    // we'll detect them automatically.\n    \"environment\": \"production\",\n\n    // Required: body\n    // The main data being sent. It can either be a message, an exception, or a crash report.\n    \"body\": {\n\n      // Required: \"trace\", \"trace_chain\", \"message\", or \"crash_report\" (exactly one)\n      // If this payload is a single exception, use \"trace\"\n      // If a chain of exceptions (for languages that support inner exceptions), use \"trace_chain\"\n      // If a message with no stack trace, use \"message\"\n      // If an iOS crash report, use \"crash_report\"\n\n      // Optional: \"telemetry\". Only applicable if you are sending telemetry data.\n      \"telemetry\": [\n        {\n        // Required: level\n        // The severity level of the telemetry data. One of: \"critical\", \"error\", \"warning\", \"info\", \"debug\".\n        \"level\": \"info\",\n\n        // Required: type\n        // The type of telemetry data. One of: \"log\", \"network\", \"dom\", \"navigation\", \"error\", \"manual\".\n        \"type\": \"network\",\n\n        // Required: source\n        // The source of the telemetry data. Usually \"client\" or \"server\".\n        \"source\": \"client\",\n\n        // Required: timestamp_ms\n        // When this occurred, as a unix timestamp in milliseconds.\n        \"timestamp_ms\": 1720413393557,\n\n        // Required: body\n        // The key-value pairs for the telemetry data point. See \"body\" key below.\n        // If type above is \"log\", body should contain \"message\" key.\n        // If type above is \"network\", body should contain \"method\", \"url\", and \"status_code\" keys.\n        // If type above is \"dom\", body should contain \"element\" key.\n        // If type above is \"navigation\", body should contain \"from\" and \"to\" keys.\n        // If type above is \"error\", body should contain \"message\" key.\n        \"body\": {\n          \"subtype\": \"xhr\",\n          \"method\": \"GET\",\n          \"url\": \"/api/1/item/4/\",\n          \"status_code\": \"200\",\n          \"start_timestamp_ms\": 1720413394557,\n          \"end_timestamp_ms\": 1720413394957\n        },\n      },\n        // more telemetry array elements follow...\n      ],\n\n      // Option 1: \"trace\"\n      \"trace\": {\n\n        // Required: frames\n        // A list of stack frames, ordered such that the most recent call is last in the list.\n        \"frames\": [\n          // Each frame is an object.\n          {\n            // Required: filename\n            // The filename including its full path.\n            \"filename\": \"/Users/brian/www/mox/mox/views/project.py\",\n\n            // Optional: lineno\n            // The line number as an integer\n            \"lineno\": 26,\n\n            // Optional: colno\n            // The column number as an integer\n            \"colno\": 8,\n\n            // Optional: method\n            // The method or function name\n            \"method\": \"index\",\n\n            // Optional: code\n            // The line of code\n            \"code\": \"_save_last_project(request, project_id, force=True)\",\n\n            // Optional: class_name\n            // A string containing the class name.\n            // Used in the UI when the payload's top-level \"language\" key has the value \"java\"\n            \"class_name\": \"java.lang.String\",\n\n            // Optional: context\n            // Additional code before and after the \"code\" line\n            \"context\": {\n              // Optional: pre\n              // List of lines of code before the \"code\" line\n              \"pre\": [\n                \"project = request.context\",\n                \"project_id = project.id\"\n              ],\n\n              // Optional: post\n              // List of lines of code after the \"code\" line\n              \"post\": []\n            },\n\n            // (Deprecated) Optional: args\n            // List of values of positional arguments to the method/function call\n            // NOTE: as this can contain sensitive data, you may want to scrub the values\n            \"args\": [\"<Request object>\", 25],\n\n            // (Deprecated) Optional: kwargs\n            // Object of keyword arguments (name => value) to the method/function call\n            // NOTE: as this can contain sensitive data, you may want to scrub the values\n            \"kwargs\": {\n              \"force\": true\n            },\n\n            // Optional: argspec\n            // List of the names of the arguments to the method/function call.\n            \"argspec\": [\"request\", \"user\"],\n\n            // Optional: varargspec\n            // If the function call takes an arbitrary number of unnamed positional arguments,\n            // the name of the argument that is the list containing those arguments.\n            // For example, in Python, this would typically be \"args\" when \"*args\" is used.\n            // The actual list will be found in locals.\n            \"varargspec\": \"args\",\n\n            // Optional: keywordspec\n            // If the function call takes an arbitrary number of keyword arguments, the name\n            // of the argument that is the object containing those arguments.\n            // For example, in Python, this would typically be \"kwargs\" when \"**kwargs\" is used.\n            // The actual object will be found in locals.\n            \"keywordspec\": \"kwargs\",\n\n            // Optional: locals\n            // Object of local variables for the method/function call.\n            // The values of variables from argspec, vararspec and keywordspec\n            // can be found in locals.\n            \"locals\": {\n                \"request\": \"<Request object>\",\n                \"user\": \"<User object>\",\n                \"args\": [true, \"Python\"],\n                \"kwargs\": {\"level\": \"warning\"}\n            }\n          },\n          {\n            \"filename\": \"/Users/brian/www/mox/mox/views/project.py\",\n            \"lineno\": 497,\n            \"method\": \"_save_last_project\",\n            \"code\": \"user = foo\"\n          }\n        ],\n\n        // Required: exception\n        // An object describing the exception instance.\n        \"exception\": {\n          // Required: class\n          // The exception class name.\n          \"class\": \"NameError\",\n\n          // Optional: message\n          // The exception message, as a string\n          \"message\": \"global name 'foo' is not defined\",\n\n          // Optional: description\n          // An alternate human-readable string describing the exception\n          // Usually the original exception message will have been machine-generated;\n          // you can use this to send something custom\n          \"description\": \"Something went wrong while trying to save the user object\"\n        }\n\n      },\n\n      // Option 2: \"trace_chain\"\n      // Used for exceptions with inner exceptions or causes\n      \"trace_chain\": [\n        // Each element in the list should be a \"trace\" object, as shown above\n        // Must contain at least one element.\n      ],\n\n      // Option 3: \"message\"\n      // Only one of \"trace\", \"trace_chain\", \"message\", or \"crash_report\" should be present.\n      // Presence of a \"message\" key means that this payload is a log message.\n      \"message\": {\n\n        // Required: body\n        // The primary message text, as a string\n        \"body\": \"Request over threshold of 10 seconds\",\n\n        // Can also contain any arbitrary keys of metadata. Their values can be any valid JSON.\n        // For example:\n\n        \"route\": \"home#index\",\n        \"time_elapsed\": 15.23\n\n      },\n\n      // Option 4: \"crash_report\"\n      // Only one of \"trace\", \"trace_chain\", \"message\", or \"crash_report\" should be present.\n      \"crash_report\": {\n        // Required: raw\n        // The raw crash report, as a string\n        // Rollbar expects the format generated by rollbar-ios\n        \"raw\": \"<crash report here>\"\n      }\n\n    },\n\n    // Optional: level\n    // The severity level. One of: \"critical\", \"error\", \"warning\", \"info\", \"debug\"\n    // Defaults to \"error\" for exceptions and \"info\" for messages.\n    // The level of the *first* occurrence of an item is used as the item's level.\n    \"level\": \"error\",\n\n    // Optional: timestamp\n    // When this occurred, as a unix timestamp.\n    \"timestamp\": 1723188822,\n\n    // Optional: code_version\n    // A string, up to 40 characters, describing the version of the application code\n    // Rollbar understands these formats:\n    // - semantic version (i.e. \"2.1.12\")\n    // - integer (i.e. \"45\")\n    // - git SHA (i.e. \"3da541559918a808c2402bba5012f6c60b27661c\")\n    // If you have multiple code versions that are relevant, those can be sent inside \"client\" and \"server\"\n    // (see those sections below)\n    // For most cases, just send it here.\n    \"code_version\": \"3da541559918a808c2402bba5012f6c60b27661c\",\n\n    // Optional: platform\n    // The platform on which this occurred. Meaningful platform names:\n    // \"browser\", \"android\", \"ios\", \"flash\", \"client\", \"heroku\", \"google-app-engine\"\n    // If this is a client-side event, be sure to specify the platform and use a post_client_item access token.\n    \"platform\": \"linux\",\n\n    // Optional: language\n    // The name of the language your code is written in.\n    // This can affect the order of the frames in the stack trace. The following languages set the most\n    // recent call first - 'ruby', 'javascript', 'php', 'java', 'objective-c', 'lua'\n    // It will also change the way the individual frames are displayed, with what is most consistent with\n    // users of the language.\n    \"language\": \"python\",\n\n    // Optional: framework\n    // The name of the framework your code uses\n    \"framework\": \"pyramid\",\n\n    // Optional: context\n    // An identifier for which part of your application this event came from.\n    // Items can be searched by context (prefix search)\n    // For example, in a Rails app, this could be `controller#action`.\n    // In a single-page javascript app, it could be the name of the current screen or route.\n    \"context\": \"project#index\",\n\n    // Optional: request\n    // Data about the request this event occurred in.\n    \"request\": {\n      // Can contain any arbitrary keys. Rollbar understands the following:\n\n      // url: full URL where this event occurred\n      \"url\": \"https://rollbar.com/project/1\",\n\n      // method: the request method\n      \"method\": \"GET\",\n\n      // headers: object containing the request headers.\n      \"headers\": {\n        // Header names should be formatted like they are in HTTP.\n        \"Accept\": \"text/html\",\n        \"Referer\": \"https://rollbar.com/\"\n      },\n\n      // params: any routing parameters (i.e. for use with Rails Routes)\n      \"params\": {\n        \"controller\": \"project\",\n        \"action\": \"index\"\n      },\n\n      // GET: query string params\n      \"GET\": {},\n\n      // query_string: the raw query string\n      \"query_string\": \"\",\n\n      // POST: POST params\n      \"POST\": {},\n\n      // body: the raw POST body\n      \"body\": \"\",\n\n      // user_ip: the user's IP address as a string.\n      // Can also be the special value \"$remote_ip\", which will be replaced with the source IP of the API request.\n      // Will be indexed, as long as it is a valid IPv4 address.\n      \"user_ip\": \"100.51.43.14\"\n\n    },\n\n    // Optional: person\n    // The user affected by this event. Will be indexed by ID, username, and email.\n    // People are stored in Rollbar keyed by ID. If you send a multiple different usernames/emails for the\n    // same ID, the last received values will overwrite earlier ones.\n    \"person\": {\n      // Required: id\n      // A string up to 40 characters identifying this user in your system.\n      \"id\": \"12345\",\n\n      // Optional: username\n      // A string up to 255 characters\n      \"username\": \"brianr\",\n\n      // Optional: email\n      // A string up to 255 characters\n      \"email\": \"brian@rollbar.com\"\n    },\n\n    // Optional: server\n    // Data about the server related to this event.\n    \"server\": {\n      // Can contain any arbitrary keys. Rollbar understands the following:\n\n      // Optional: cpu\n      // A string up to 255 characters\n      \"cpu\": \"x64\",\n\n      // Optional: host\n      // host: The server hostname. Will be indexed.\n      \"host\": \"web4\",\n\n      // Optional: root\n      // root: Path to the application code root, not including the final slash.\n      // Used to collapse non-project code when displaying tracebacks.\n      \"root\": \"/Users/brian/www/mox\",\n\n      // Optional: Branch\n      // branch: Name of the checked-out source control branch. Defaults to \"master\"\n      \"branch\": \"master\",\n\n      // Optional: code_version\n      // String describing the running code version on the server\n      // See note about \"code_version\" above\n      \"code_version\": \"b6437f45b7bbbb15f5eddc2eace4c71a8625da8c\",\n\n      // (Deprecated) sha: Git SHA of the running code revision. Use the full sha.\n      \"sha\": \"b6437f45b7bbbb15f5eddc2eace4c71a8625da8c\"\n    },\n\n    // Optional: client\n    // Data about the client device this event occurred on.\n    // As there can be multiple client environments for a given event (i.e. Flash running inside\n    // an HTML page), data should be namespaced by platform.\n    \"client\": {\n      // Can contain any arbitrary keys. Rollbar understands the following:\n\n      // Optional: cpu\n      // A string up to 255 characters\n      \"cpu\": \"x64\",\n\n      \"javascript\": {\n\n        // Optional: browser\n        // The user agent string\n        \"browser\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_3)\",\n\n        // Optional: code_version\n        // String describing the running code version in javascript\n        // See note about \"code_version\" above\n        \"code_version\": \"b6437f45b7bbbb15f5eddc2eace4c71a8625da8c\",\n\n        // Optional: source_map_enabled\n        // Set to true to enable source map deobfuscation\n        // See the \"Source Maps\" guide for more details.\n        \"source_map_enabled\": false,\n\n        // Optional: guess_uncaught_frames\n        // Set to true to enable frame guessing\n        // See the \"Source Maps\" guide for more details.\n        \"guess_uncaught_frames\": false\n\n      }\n    },\n\n    // Optional: custom\n    // Any arbitrary metadata you want to send. \"custom\" itself should be an object.\n    \"custom\": {},\n\n    // Optional: fingerprint\n    // A string controlling how this occurrence should be grouped. Occurrences with the same\n    // fingerprint are grouped together. See the \"Grouping\" guide for more information.\n    // Should be a string up to 40 characters long; if longer than 40 characters, we'll use its SHA1 hash.\n    // If omitted, we'll determine this on the backend.\n    \"fingerprint\": \"50a5ef9dbcf9d0e0af2d4e25338da0d430f20e52\",\n\n    // Optional: title\n    // A string that will be used as the title of the Item occurrences will be grouped into.\n    // Max length 255 characters.\n    // If omitted, Rollbar will determine this on the backend.\n    \"title\": \"NameError when setting last project in views/project.py\",\n\n    // Optional: uuid\n    // A string, up to 36 characters, that uniquely identifies this occurrence.\n    // While it can now be any latin1 string, this may change to be a 16 byte field in the future.\n    // We recommend using a UUID4 (16 random bytes).\n    // The UUID space is unique to each project, and can be used to look up an occurrence later.\n    // It is also used to detect duplicate requests. If you send the same UUID in two payloads, the second\n    // one will be discarded.\n    // While optional, it is recommended that all clients generate and provide this field\n    \"uuid\": \"f81d4fae-7dec-11d0-a765-00a0c91e6bf6\",\n\n    // Optional: notifier\n    // Describes the library used to send this event.\n    \"notifier\": {\n      // Optional: name\n      // Name of the library\n      \"name\": \"pyrollbar\",\n\n      // Optional: version\n      // Library version string\n      \"version\": \"1.0.0\"\n    }\n\n  }\n}\n```\nNote that you can send us whatever data you want and we'll store it. Max payload size is 1024kb (kilobytes). For best results, put custom data in `request`, `server`, `client`, `person`, or `custom`.\n\n### Response Format\n\n#### Success\n\nOn success, this endpoint will respond with HTTP status code 200, and a JSON response like the following:\n\n```javascript\n{\n  // Always present: err\n  // 0 indiciates that there was no error\n  err: 0,\n\n  // Always present: result\n  result: {\n    // Always present: uuid\n    // UUID of the posted occurrence.\n    // If you provided one in the payload, this will be the value you provided\n    // If you did not, one will be generated for you.\n    // You can use this later to look up the occurrence by UUID.\n    uuid: \"d4c7acef55bf4c9ea95e4fe9428a8287\",\n\n    // Deprecated: id\n    // Unused; will be removed in the future\n    id: null\n  }\n}\n```\n\nOn error, this endpoint will respond with an HTTP error code 400 or higher, and a JSON response like the following:\n\n```javascript\n{\n  // Always present: err\n  // 1 indicates there was an error\n  err: 1,\n\n  // Always present: message\n  // A human-readable message describing the error\n  message: \"request entity too large\"\n}\n```\n",
        "operationId": "create-item",
        "parameters": [
          {
            "name": "X-Rollbar-Access-Token",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "description": "An access token with scope `post_server_item` or `post_client_item`. A post_client_item token must be used if the `platform` is `browser\"`, `android`, `ios`, `flash`, or `client`. A post_server_item token should be used for other platforms."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "Details of the exception or log message. For a simple example, try `{\"environment\": \"development\", \"body\": { \"message\": {\"body\": \"Hello, world!\"}}}`",
                    "default": "",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "example": "d4c7acef55bf4c9ea95e4fe9428a8287"
                        },
                        "id": {
                          "type": "integer",
                          "description": "Deprecated, will return null"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 1
                    },
                    "message": {
                      "type": "string",
                      "example": "request entity too large"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": ["Item"],
        "summary": "Get an item (by UUID)",
        "description": "The `UUID` must be an ocurrence UUID for an occurrence in the item. Occurrence UUIDs are part of the response in https://docs.rollbar.com/reference/create-item.\n",
        "operationId": "get-an-item-by-occurrence-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "UUID of an occurrence in the item\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The item ID"
                        },
                        "project_id": {
                          "type": "integer",
                          "description": "The item's project ID"
                        },
                        "counter": {
                          "type": "integer",
                          "description": "The item identifier withing the project"
                        },
                        "environment": {
                          "type": "string"
                        },
                        "platform": {
                          "type": "string"
                        },
                        "framework": {
                          "type": "string"
                        },
                        "hash": {
                          "type": "string",
                          "description": "Fingerprint that identifies the item"
                        },
                        "title": {
                          "type": "string"
                        },
                        "first_occurrence_id": {
                          "type": "integer",
                          "description": "First occurrence ID of the item in the version"
                        },
                        "first_occurrence_timestamp": {
                          "type": "integer",
                          "description": "First occurrence timestamp of the item"
                        },
                        "activating_occurrence_id": {
                          "type": "integer",
                          "description": "Occurrence ID that activated the item"
                        },
                        "last_activated_timestamp": {
                          "type": "integer",
                          "description": "Last activation timestamp"
                        },
                        "last_resolved_timestamp": {
                          "type": "integer",
                          "description": "Last timestamp the item was resolved"
                        },
                        "last_muted_timestamp": {
                          "type": "integer",
                          "description": "Last timestamp the item was muted"
                        },
                        "last_occurrence_id": {
                          "type": "integer",
                          "description": "Last received occurrence ID of the item"
                        },
                        "last_occurrence_timestamp": {
                          "type": "integer",
                          "description": "Last received occurrence timestamp"
                        },
                        "total_occurrences": {
                          "type": "integer",
                          "description": "Total number of occurrences on the item"
                        },
                        "last_modified_by": {
                          "type": "string",
                          "description": "Last user ID that modified the item"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["active", "resolved", "muted"]
                        },
                        "level": {
                          "type": "string",
                          "enum": ["debug", "info", "warning", "error", "critical"]
                        },
                        "integrations_data": {
                          "type": "object"
                        },
                        "assigned_user_id": {
                          "type": "integer",
                          "description": "User ID the item is assigned to"
                        },
                        "assigned_team_id": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Team ID the item is assigned to"
                        },
                        "group_item_id": {
                          "type": "integer",
                          "description": "Group item this item belongs to"
                        },
                        "group_status": {
                          "type": "integer"
                        },
                        "snooze_status": {
                          "type": "boolean",
                          "description": "Indicates the snooze status (only available for paid accounts)"
                        },
                        "snooze_type": {
                          "type": "string",
                          "description": "Indicates the snooze type (only available for paid accounts)"
                        },
                        "snooze_expiration_threshold_seconds": {
                          "type": "integer",
                          "description": "The time in seconds after which the snooze expires (only available for paid accounts)"
                        },
                        "snooze_expiration_datetime": {
                          "type": "integer",
                          "description": "The timestamp after which the snooze expires (only available for paid accounts)"
                        }
                      },
                      "example": {
                        "id": 1000,
                        "project_id": 5,
                        "counter": 4,
                        "environment": "production",
                        "platform": "unknown",
                        "framework": "rails",
                        "hash": "03044fc948dd2c51c4ebccafbf0a01b01339a7b5",
                        "title": "NotMethod Error",
                        "first_occurrence_id": 1234,
                        "first_occurrence_timestamp": 1583538518,
                        "activating_occurrence_id": 1234,
                        "last_activated_timestamp": 1583538518,
                        "last_resolved_timestamp": "None",
                        "last_muted_timestamp": "None",
                        "last_occurrence_id": 2234,
                        "last_occurrence_timestamp": 1583538118,
                        "total_occurrences": 1000,
                        "last_modified_by": 123,
                        "status": "active",
                        "level": "error",
                        "integrations_data": {},
                        "assigned_user_id": 400,
                        "assigned_team_id": "None",
                        "group_item_id": "None",
                        "group_status": 1,
                        "snooze_status": "active",
                        "snooze_type": "time",
                        "snooze_expiration_threshold_seconds": 60,
                        "snooze_expiration_datetime": 1583538518
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The format of the UUID is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 1
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid UUID format"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No occurrence matching the given UUID was found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 1
                    },
                    "message": {
                      "type": "string",
                      "example": "UUID did not match any occurrence"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/items": {
      "get": {
        "tags": ["Item"],
        "summary": "List all items",
        "description": "# Examples\nGet the 101st through 199th active items:\n```curl\ncurl -H \"X-Rollbar-Access-Token: YOUR_ACCESS_TOKEN\" 'https://api.rollbar.com/api/1/items/?status=active&page=2'\n```\nGet the first page of items that are error or critical, in the production environment:\n```curl\ncurl -H \"X-Rollbar-Access-Token: YOUR_ACCESS_TOKEN\" 'https://api.rollbar.com/api/1/items/?level=error&level=critical&environment=production'\n```\n\nNote that the `total_count` in the `result` will return `null` if your project has more than 100,000 unique items.\n",
        "operationId": "list-all-items",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          },
          {
            "name": "assigned_user",
            "in": "query",
            "description": "If not empty, only items assigned to the specified user will be returned. Must be a valid Rollbar username, or you can use the keywords `assigned` (items that are assigned to any user or team) or `unassigned` (items with no assigned user or team).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigned_team",
            "in": "query",
            "description": "If not empty, only items assigned to the specified team will be returned. Must be a valid Rollbar team name. Specify multiple times to filter by multiple teams. Cannot be combined with `assigned_user`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "environment",
            "in": "query",
            "description": "If not empty, only items in the specified environment will be returned. Specify multiple times to filter by multiple environments.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "framework",
            "in": "query",
            "description": "If not empty, only items in the specified framework will be returned. Specify multiple times to filter by multiple frameworks.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "(comma-separated list of integers) if not empty, list of item IDs to return, instead of using all items in the project",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "If not empty, only items with the specified level will be returned. Valid values: `debug`, `info`, `warning`, `error`, `critical`. Specifiy multiple times to filter by multiple levels.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, starting from 1. 100 items are returned per page by default.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A search string, using the same format as the search box on the Items page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "If not empty, only items with the specified status will be returned. Valid values: `active`, `resolved`, `muted`, `archived`. Specify multiple times to filter by multiple statuses.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_snoozed",
            "in": "query",
            "description": "If true, only snoozed items will be returned. If false, snoozed items will be excluded.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "total_count": {
                          "type": "integer",
                          "example": 50,
                          "description": "The count of all the items the query would return if no limit was applied."
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "public_item_id": {
                                "type": "integer",
                                "nullable": true
                              },
                              "integrations_data": {
                                "nullable": true,
                                "type": "string"
                              },
                              "level_lock": {
                                "type": "integer"
                              },
                              "controlling_id": {
                                "type": "integer"
                              },
                              "last_activated_timestamp": {
                                "type": "integer",
                                "example": 1658171383
                              },
                              "assigned_user_id": {
                                "type": "integer",
                                "nullable": true
                              },
                              "assigned_team_id": {
                                "type": "integer",
                                "nullable": true
                              },
                              "group_status": {
                                "type": "integer"
                              },
                              "hash": {
                                "type": "string"
                              },
                              "id": {
                                "type": "integer"
                              },
                              "environment": {
                                "type": "string",
                                "example": "production"
                              },
                              "title_lock": {
                                "type": "integer"
                              },
                              "title": {
                                "type": "string",
                                "example": "GraphQLError: Expected `join([])` to be called with an array of multiple elements, but got an empty array\n"
                              },
                              "last_occurrence_id": {
                                "type": "integer"
                              },
                              "platform": {
                                "type": "string"
                              },
                              "last_occurrence_timestamp": {
                                "type": "integer",
                                "example": 1658171387
                              },
                              "first_occurrence_timestamp": {
                                "type": "integer",
                                "example": 1658171383
                              },
                              "project_id": {
                                "type": "integer",
                                "example": 12345
                              },
                              "resolved_in_version": {
                                "type": "string",
                                "nullable": true
                              },
                              "status": {
                                "type": "string",
                                "description": "One of: `active`, `resolved`, `muted`.",
                                "example": "active"
                              },
                              "unique_occurrences": {
                                "type": "integer",
                                "nullable": true
                              },
                              "group_item_id": {
                                "type": "integer",
                                "nullable": true
                              },
                              "framework": {
                                "type": "string",
                                "example": "node-js",
                                "description": "For the full integer-framework\nmapping, please see the [Framework IDs](https://docs.rollbar.com/docs/rql#framework-ids) section in our docs.\n"
                              },
                              "level": {
                                "type": "string",
                                "example": "error"
                              },
                              "total_occurrences": {
                                "type": "integer",
                                "example": 3
                              },
                              "counter": {
                                "type": "integer",
                                "example": 123
                              },
                              "last_modified_by": {
                                "type": "integer"
                              },
                              "first_occurrence_id": {
                                "type": "integer",
                                "example": 123456789012
                              },
                              "activating_occurrence_id": {
                                "type": "integer",
                                "example": 123456789013
                              },
                              "last_resolved_timestamp": {
                                "type": "integer",
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1/item/{itemid}": {
      "get": {
        "tags": ["Item"],
        "summary": "Get an item (by ID)",
        "description": "`itemid` must be an item ID for an item in the project. These IDs are returned as the id field in other API calls.\n\nNote that they are NOT found in in URLs like `https://rollbar.com/myaccount/myproject/items/456/` – that is the \"counter\", which can be used in the following API call.\n",
        "operationId": "get-an-item-by-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "$ref": "#/paths/~1api~11~1item~1/get/responses/200/content/application~1json/schema/properties/result"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "itemid",
            "in": "path",
            "description": "Unique ID of the item\n\n`itemid` must be an item ID for an item in the project.\nThese IDs are returned as the id field in other API calls.\n\nNote that they are NOT found in in URLs like\nhttps://rollbar.com/myaccount/myproject/items/456/ – that\nis the \"counter\", which can be used in the following API call.\n",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          }
        ],
        "deprecated": false
      },
      "patch": {
        "tags": ["Item"],
        "summary": "Update an item",
        "description": "Used to modify an item's state. Currently supports:\n* setting the status, level, title, assigned user\n* when resolving, setting the \"resolved in version\"\n* snoozing / unsnoozing an item (only available for paid accounts)\n* setting the item owner to a team (only available for Advanced and Enterprise accounts)\n\nExample -\n```curl\ncurl -X PATCH 'https://api.rollbar.com/api/1/item/275123456' \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\"status\": \"resolved\", \"resolved_in_version\": \"aabbcc1\"}'\n  ```\n",
        "operationId": "update-an-item",
        "parameters": [
          {
            "name": "itemid",
            "in": "path",
            "description": "System-wide id (not project counter) of the item to be modified.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/paths/~1api~11~1service_links/post/parameters/0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "If present, the new status. Valid values: `active`, `resolved`, `muted`."
                  },
                  "resolved_in_version": {
                    "type": "string",
                    "description": "If not empty, a string up to 40 characters describing the version that the item was resolved in. Only used if `status` is set to `resolved`."
                  },
                  "title": {
                    "type": "string",
                    "description": "If present, the new title. Should be a string with length 1 to 255."
                  },
                  "level": {
                    "type": "string",
                    "description": "If present, the new level. Valid values: `critical`, `error`, `warning`, `info`, `debug`"
                  },
                  "assigned_user_id": {
                    "type": "integer",
                    "description": "If present, the new assigned user ID. Valid values are null or any user ID with access to this item.",
                    "format": "int32"
                  },
                  "assigned_team_id": {
                    "type": "integer",
                    "description": "If present, the new assigned team ID. Valid values are null or any team ID with access to this item.",
                    "format": "int32"
                  },
                  "snooze_enabled": {
                    "type": "boolean",
                    "description": "If present, true to snooze or false to unsnooze item."
                  },
                  "snooze_expiration_in_seconds": {
                    "type": "integer",
                    "description": "If present, the new snooze expiration in seconds. Valid values are integer values expressing number of seconds. For example `60` (a minute), `3600` (an hour), and `86400` (a day).",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "`active`, `resolved`, `muted`. Returned if the field was sent in the patch body."
                        },
                        "resolved_in_version": {
                          "type": "string",
                          "description": "Returned if the field was sent in the patch body."
                        },
                        "title": {
                          "type": "string",
                          "description": "Returned if the field was sent in the patch body."
                        },
                        "level": {
                          "type": "string",
                          "description": "`critical`, `error`, `warning`, `info`, `debug`. Returned if the field was sent in the patch body."
                        },
                        "assigned_user_id": {
                          "type": "integer",
                          "description": "Returned if the field was sent in the patch body.",
                          "format": "int32"
                        },
                        "assigned_team_id": {
                          "type": "integer",
                          "description": "Returned if the field was sent in the patch body.",
                          "format": "int32"
                        },
                        "snooze_enabled": {
                          "type": "boolean",
                          "description": "Returned if the field was sent in the patch body."
                        },
                        "snooze_expiration_in_seconds": {
                          "type": "integer",
                          "description": "Returned if the field was sent in the patch body.",
                          "format": "int32"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 1
                    },
                    "message": {
                      "type": "string",
                      "example": "Item not found in this project."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1/item_by_counter/{counter}": {
      "get": {
        "tags": ["Item"],
        "summary": "Get an item (by project counter)",
        "description": "`counter` must be an item counter for an item in the project. The counter can be found in URLs like `https://rollbar.com/myaccount/myproject/items/456/` (456 is the counter).\n\nThe success response is a 301 redirect like this:\n\n```\nHTTP/1.1 301 Moved Permanently\nLocation: /api/1/item/272505123\n\n{\n  \"err\": 0,\n  \"result\": {\n    \"itemId\": 272505123,\n    \"path\": \"/api/1/item/272505123\",\n    \"uri\": \"/api/1/item/272505123\"\n  }\n}\n```\n",
        "operationId": "get-an-item-by-project-counter",
        "parameters": [
          {
            "name": "counter",
            "in": "path",
            "description": "item counter for an item in the project\n\n`counter` must be an item counter for an item in the project.\nThe counter can be found in URLs like https://rollbar.com/myaccount/myproject/items/456/\n(456 is the counter).\n",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          }
        ],
        "responses": {
          "301": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "integer",
                          "example": 272505123
                        },
                        "path": {
                          "type": "string",
                          "example": "/api/1/item/272505123"
                        },
                        "uri": {
                          "type": "string",
                          "example": "/api/1/item/272505123"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/instances": {
      "get": {
        "tags": ["Occurrence"],
        "summary": "List all occurrences in a project",
        "description": "Returns all occurrences in the project, in pages of 20. Order is descending by occurrence ID (which is approximately descending by timestamp).\n",
        "parameters": [
          {
            "name": "X-Rollbar-Access-Token",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "description": "Use a Project Access Token with 'read' scope"
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "Instead of using the page number, you can pass the ID of the last occurrence listed on the page and it will be return the next 20 instances after that last occurrence ID. Overrides the page number if both are present.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, starting from 1. The default number of elements returned per page is 20. Set the limit parameter to update that.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Sets the limit for number of items returned per page. Default is 20 and the max is 5000.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "enum": [0]
                    },
                    "result": {
                      "type": "object",
                      "$ref": "#/components/schemas/PaginatedOccurrenceInstances"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1/item/{item_id}/instances": {
      "get": {
        "tags": ["Occurrence"],
        "summary": "List all occurrences in an item",
        "description": "Returns all occurrences of an item, in pages of 20. Order is descending by occurrence ID (which is approximately descending by timestamp).\n",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          },
          {
            "name": "item_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The item ID"
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/2"
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/3"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "enum": [0]
                    },
                    "result": {
                      "type": "object",
                      "$ref": "#/components/schemas/PaginatedOccurrenceInstances"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1/instance/{instance_id}": {
      "get": {
        "tags": ["Occurrence"],
        "summary": "Get an occurrence",
        "description": "Returns a JSON object describing the occurrence. This is similar to the \"Raw JSON\" section of the occurrence detail page.\n\n`instance_id` must be an Occurrence ID for an occurrence in the project. These IDs are returned as the `id`\nfield in other occurrence API calls, and can be found in the Rollbar UI on URLs like\n`https://rollbar.com/Rollbar/demo/items/54/occurrences/3209095494/` (`3209095494` is the Occurrence ID).\n",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          },
          {
            "name": "instance_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The occurrence ID"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "enum": [0]
                    },
                    "result": {
                      "type": "object",
                      "$ref": "#/components/schemas/OccurrenceInstance"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Occurrence"],
        "summary": "Delete an occurrence",
        "description": "Permanently deletes an occurrence. This will make it unavailable in the Rollbar UI and API. Aggregate counts are not updated. Deleting occurrences will not reduce or reset your quota.\n\nDeletion takes place asynchronously, typically within a few seconds. To verify that deletion has completed, use GET and expect a 404 response.\n",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1service_links/post/parameters/0"
          },
          {
            "$ref": "#/paths/~1api~11~1instance~1%7Binstance_id%7D/get/parameters/1"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "enum": [0]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1/environment/{environment}/session/{sessionId}/replay/{replayId}": {
      "get": {
        "tags": ["Replay"],
        "summary": "Get a session replay",
        "description": "Retrieves the replay payload for a recorded session in the specified environment. Requires a project access token with `read` scope.\n",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          },
          {
            "name": "environment",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The environment slug for the session replay"
          },
          {
            "name": "sessionId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The session identifier provided in the replay payload"
          },
          {
            "name": "replayId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The replay identifier generated for the session payload"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionReplayResponse"
                },
                "example": {
                  "err": 0,
                  "result": {
                    "events": [
                      {
                        "project_id": 12345,
                        "environment": "production",
                        "session_id": "1234",
                        "span_id": "span_01",
                        "name": "rrweb-replay-recording",
                        "start_time": "2025-10-01T16:20:00Z",
                        "duration": 3337000000,
                        "span_count": "1",
                        "attributes": [
                          {
                            "name": "rollbar.replay.id",
                            "value": "a2a2"
                          },
                          {
                            "name": "session.id",
                            "value": "1234"
                          },
                          {
                            "name": "scope.name",
                            "value": "rollbar-browser-js"
                          }
                        ],
                        "timeline_events": [
                          {
                            "name": "rollbar-log-event",
                            "time": "2025-10-01T16:20:01Z",
                            "attributes": [
                              {
                                "name": "level",
                                "value": "error"
                              },
                              {
                                "name": "message",
                                "value": "Warning: ReactDOM.render is deprecated (truncated)"
                              }
                            ]
                          },
                          {
                            "name": "rollbar-network-event",
                            "time": "2025-10-01T16:20:01Z",
                            "attributes": [
                              {
                                "name": "method",
                                "value": "GET"
                              },
                              {
                                "name": "url",
                                "value": "https://example.com/app.js"
                              },
                              {
                                "name": "statusCode",
                                "value": "200"
                              }
                            ]
                          }
                        ],
                        "rrweb_replay_events": [
                          {
                            "time": "2025-10-01T16:20:02Z",
                            "type": "4",
                            "data": {
                              "summary": "Initial viewport snapshot (redacted)"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Replay"],
        "summary": "Delete a session replay",
        "description": "Deletes a replay for a recorded session in the specified environment. Requires a project access token with `write` scope.\n",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1service_links/post/parameters/0"
          },
          {
            "$ref": "#/paths/~1api~11~1environment~1%7Benvironment%7D~1session~1%7BsessionId%7D~1replay~1%7BreplayId%7D/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1api~11~1environment~1%7Benvironment%7D~1session~1%7BsessionId%7D~1replay~1%7BreplayId%7D/get/parameters/2"
          },
          {
            "$ref": "#/paths/~1api~11~1environment~1%7Benvironment%7D~1session~1%7BsessionId%7D~1replay~1%7BreplayId%7D/get/parameters/3"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                },
                "example": {
                  "err": 0
                }
              }
            }
          }
        }
      }
    },
    "/api/1/metrics/items": {
      "post": {
        "tags": ["Metrics"],
        "summary": "Get metrics for a list of items",
        "description": "Get metrics for a provided list of item IDs. The endpoint follows search/query semantics as a POST request using project read access token",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemsMetrics"
              },
              "example": {
                "item_counters": [277, 278, 279]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of metrics for the requested item IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "enum": [0]
                    },
                    "result": {
                      "$ref": "#/components/schemas/ItemsMetricsResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1/metrics/occurrences": {
      "post": {
        "tags": ["Metrics"],
        "summary": "Occurrences over a span of time",
        "description": "Get occurrences metrics over a span of time by filtering, grouping, and aggregating. The endpoint follows search/query semantics as a POST request using project read access token.\n\nList of **columns/fields** that can be used with some components of your query:\n* `project_id`\n* `item_id`\n* `environment`\n* `browser_family`\n* `browser_version`\n* `os_family`\n* `os_version`\n* `device_brand`\n* `device_model`\n* `ip_address`\n* `item_status`\n* `item_level`\n* `item_group_item_id`\n* `item_title`\n* `item_counter`\n* `person_username`\n* `person_email`\n* `person_id`\n* `code_version`\n* `count`\n* `occurrence_id`\n* `uuid`\n* `context`\n* `platform`\n* `framework`\n* `platform_canonical`\n* `framework_canonical`\n* `language`\n* `language_name`\n* `notifier_name`\n* `notifier_version`\n* `occurrence_count`\n* `message_body`\n* `timestamp`\n* `fingerprint`\n* `server_host`\n* `server_root`\n* `server_pid`\n* `server_cpu`\n* `scm_branch`\n* `request_url`\n* `request_method`\n* `request_query_string`\n* `request_body`\n",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OccurrencesMetrics"
              },
              "example": {
                "start_time": 1632500000,
                "end_time": 1632600000,
                "group_by": ["item_counter", "environment", "item_status", "item_level"],
                "aggregates": [
                  {
                    "field": "person_id",
                    "function": "count_distinct",
                    "alias": "person_count"
                  },
                  {
                    "field": "ip_address",
                    "function": "count_distinct",
                    "alias": "ip_address_count"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of timepoints for the provided occurences metrics query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "enum": [0]
                    },
                    "result": {
                      "$ref": "#/components/schemas/OccurencesMetricsResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1/metrics/ttr": {
      "post": {
        "tags": ["Metrics"],
        "summary": "Get resolution time metrics for a list of projects",
        "description": "Get resolution time metrics for a provided list of project IDs. It can be filtered by environments, levels and frameworks.",
        "parameters": [
          {
            "name": "X-Rollbar-Access-Token",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "description": "Use a Project or Account Access Token with 'read' scope (Account tokens require a project_id to be specified)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTRMetrics"
              },
              "example": {
                "start_time": 1669971600,
                "end_time": 1670576400,
                "granularity": "week",
                "function": "median",
                "timezone": "US/Pacific",
                "project_ids": [1, 2, 3],
                "environments": ["production"],
                "levels": ["error"],
                "frameworks": ["pyramid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of metrics for the requested project IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "enum": [0]
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TTRMetricsData"
                        },
                        "params": {
                          "$ref": "#/components/schemas/TTRMetricsParams"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "err": 0,
                  "result": {
                    "data": [
                      {
                        "timestamp": 1669971600,
                        "ttr": 583399
                      },
                      {
                        "timestamp": 1670576400,
                        "ttr": 435324
                      }
                    ],
                    "params": {
                      "start_time": 1632500000,
                      "granularity": "week",
                      "function": "median"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1/deploy": {
      "post": {
        "tags": ["Deploy"],
        "summary": "Report a deploy",
        "description": "For tool-specific instructions on reporting a deploy, see our [Deploy Tracking](doc:deploy-tracking) docs.\n\nFor instructions on setting the default deploy timeout period, see [Deploy Timeouts](https://docs.rollbar.com/docs/deploy-tracking#section-deploy-timeout).\n",
        "operationId": "post-deploy",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1dsym/post/parameters/0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["access_token", "environment", "revision"],
                "properties": {
                  "environment": {
                    "type": "string",
                    "description": "Environment to which the revision was deployed"
                  },
                  "revision": {
                    "type": "string",
                    "description": "Git SHA of revision being deployed"
                  },
                  "rollbar_username": {
                    "type": "string",
                    "description": "Rollbar username of person who deployed"
                  },
                  "local_username": {
                    "type": "string",
                    "description": "Local username of person who deployed.  Displayed in web app if no `rollbar_username` was specified."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Additional text to include with the deploy"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the deployment - `started`, `succeeded` _(default)_, `failed`, or `timed_out`."
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deploy_id": {
                          "type": "integer",
                          "description": "ID of newly created deployment"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/1/deploy/{deploy_id}": {
      "get": {
        "tags": ["Deploy"],
        "summary": "Get a deploy",
        "description": "`deploy_id` must be an ID for a deploy in the project. These IDs are returned as the id field in other API calls, and can be found in the Rollbar UI on URLs like `https://rollbar.com/deploy/12345/` (`12345` is the Deploy ID).\n",
        "operationId": "get-a-deploy",
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "description": "System-wide id of the deploy",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "$ref": "#/paths/~1api~11~1deploys/get/responses/200/content/application~1json/schema/properties/result/properties/deploys/items"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": ["Deploy"],
        "summary": "Update a deploy",
        "description": "```JavaScript\n$.get('http://yoursite.com/test/' + id, function(data) {\n    console.log(data);\n});```\n",
        "operationId": "update-a-deploy",
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "description": "ID of the deploy to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/paths/~1api~11~1dsym/post/parameters/0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "New status of build - `started`, `succeeded`, `failed`, or `timed_out`.  This value can only be changed if the current status of the build is `started`."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional comment to describe the deploy"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "$ref": "#/paths/~1api~11~1deploys/get/responses/200/content/application~1json/schema/properties/result/properties/deploys/items"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Invalid data sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 1
                    },
                    "message": {
                      "type": "string",
                      "example": "The deploy can not be updated because its status is not started."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1/deploys": {
      "get": {
        "tags": ["Deploy"],
        "summary": "List all deploys",
        "description": "Returns all deploys in the project, most recent first, in pages of 20.\n",
        "operationId": "list-all-deploys",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, starting from 1. Twenty deploys are returned per page by default.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/3"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "deploys": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "environment": {
                                "type": "string",
                                "description": "Environment to which the revision was deployed"
                              },
                              "revision": {
                                "type": "string",
                                "description": "Git SHA of revision being deployed"
                              },
                              "local_username": {
                                "type": "string",
                                "description": "Local username of person who deployed.  Displayed in web app if no `rollbar_username` was specified."
                              },
                              "comment": {
                                "type": "string",
                                "description": "Additional text to include with the deploy"
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the deployment - `started`, `succeeded` _(default)_, `failed`, or `timed_out`."
                              },
                              "id": {
                                "type": "integer",
                                "example": 1234567
                              },
                              "project_id": {
                                "type": "integer",
                                "example": 234321
                              },
                              "user_id": {
                                "type": "integer",
                                "description": "ID of user looked up by rollbar_username, if passed, when deploy was created."
                              },
                              "start_time": {
                                "type": "integer",
                                "description": "Timestamp of when the deploy started",
                                "example": 1659048901
                              },
                              "finish_time": {
                                "type": "integer",
                                "description": "Timestamp of when the deploy finished",
                                "example": 1659048901
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/environments": {
      "get": {
        "tags": ["Environment"],
        "summary": "List all environments",
        "description": "Returns all environments in the project, in pages of 20.\n\nA successful response looks like:\n```\n{\n  'err': 0\n  'result': {\n    'page': 1,\n    'environments': [\n      // where each environment has the shape:\n      {\n        'id': 1,\n        'project_id': 123,\n        'environment': 'production',\n        // visibility of the environment in the app (can either be 1 or 0)\n        'visible': 1\n      },\n      ...\n    ]\n  }\n}\n```\n",
        "operationId": "list-all-environments",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, starting from 1. Twenty environments are returned per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/3"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "integer",
                      "example": 0
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "environments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1234578
                              },
                              "project_id": {
                                "type": "integer"
                              },
                              "environment": {
                                "type": "string",
                                "example": "production"
                              },
                              "visible": {
                                "type": "boolean",
                                "description": "visibility of the environment in the app (can either be 1 or 0)",
                                "example": 1
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/sourcemap": {
      "post": {
        "tags": ["Symbol Maps"],
        "summary": "Upload a JS source map",
        "description": "In the above example, our website is http://example.com, we have a minified JavaScript file at http://example.com/js/example.min.js, and we have a source tree like this:\n```\nexample/\nexample/static/js/example.min.js\nexample/static/js/example.min.map\nexample/static/js/site.js\nexample/static/js/util.js\n```\n",
        "operationId": "upload-a-js-source-map",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1dsym/post/parameters/0"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["version", "minified_url", "source_map"],
                "properties": {
                  "version": {
                    "type": "string",
                    "description": "Current code version (typically a git SHA)"
                  },
                  "minified_url": {
                    "type": "string",
                    "description": "The full URL of the minified file, as it appears in the stack trace. This should start with `http:` or `https:`."
                  },
                  "source_map": {
                    "type": "string",
                    "description": "Your source map file.",
                    "format": "binary"
                  },
                  "source files": {
                    "type": "string",
                    "description": "One or more source unminified files",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/api/1/dsym": {
      "post": {
        "tags": ["Symbol Maps"],
        "summary": "Upload an iOS dSYM bundle",
        "description": "**Note:** dSYM bundles are a special type of Apple directory which are made to _look_ like a file, because of this, all dSYM bundles must be zipped prior to upload.\n",
        "operationId": "upload-a-dsym-file",
        "parameters": [
          {
            "name": "X-Rollbar-Access-Token",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "description": "Use a Project Access Token with 'post_server_item' scope"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["access_token", "dsym"],
                "properties": {
                  "dsym": {
                    "type": "string",
                    "description": "Your zipped dSYM file.  See [upload_dsym.py](https://raw.githubusercontent.com/rollbar/rollbar-ios/master/upload_dsym.py) for an example",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/api/1/proguard": {
      "post": {
        "tags": ["Symbol Maps"],
        "summary": "Upload an Android Proguard file",
        "description": "",
        "operationId": "upload-a-proguard-file",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1dsym/post/parameters/0"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["version", "mapping"],
                "properties": {
                  "version": {
                    "type": "string",
                    "description": "The current code version. This must match the `android:versionName` in your app's `AndroidManifest.xml`, corresponding to the version the `mapping.txt` was generated for."
                  },
                  "mapping": {
                    "type": "string",
                    "description": "Your `mapping.txt` file.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/api/1/fluttersymbols": {
      "post": {
        "tags": ["Symbol Maps"],
        "summary": "Upload a Flutter symbols file",
        "description": "",
        "operationId": "upload-a-flutter-symbols-file",
        "parameters": [
          {
            "$ref": "#/paths/~1api~11~1dsym/post/parameters/0"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["version", "flutter_symbols"],
                "properties": {
                  "version": {
                    "type": "string",
                    "description": "The current code version (typically a semantic version)"
                  },
                  "flutter_symbols": {
                    "type": "string",
                    "description": "Your Flutter symbols file. See [the official Flutter obfuscation documentation](https://flutter.dev/docs/deployment/obfuscate) for more information.\n",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/api/1/rql/job/{job_id}": {
      "get": {
        "tags": ["RQL"],
        "summary": "Check an RQL job",
        "description": "# Response\nThe response will be a RQL Job resource, example:\n```json\n{\n  \"err\" 0,\n  \"result\": {\n    \"id\": 123,  // job id\n    \"project_id\": 456,\n    \"query_string\": \"show tables\",\n    \"status\": \"new\", // One of \"new\", \"running\", \"success\", \"failed\", \"cancelled\", or \"timed_out\"\n    \"job_hash\": \"abcdefabcdefabcdef\",\n    \"date_created\": 1446598885,\n    \"date_modified\": 1446598885,\n    \"result\": {...} // A RQL job resource if expand=result is used in query string\n  }\n}``\n",
        "operationId": "check-an-rql-job",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/paths/~1api~11~1instances/get/parameters/0"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "If the value is `result`, the response will contain the job result",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
[...]
